@charset "utf-8";
/* CSS Document */
body {
	background: #FFFFFF;
	width: 29.7cm;
	margin: auto;
}
body, td, th, input, select, textarea, option, optgroup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
h1 {
	text-transform: uppercase;
	color: #666;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	padding-bottom: 5px;
	margin-top: 0px;
	margin-bottom: 15px;
	border-bottom: 1px solid #CDDDDD;
}
.store {
	width: 100%;
	margin-bottom: 20px;
}
.div2 {
	float: left;
	display: inline-block;
}
.div3 {
	float: right;
	display: inline-block;
	padding: 5px;
}
.heading td {
	background: #E7EFEF;
	font-weight: bold;
}
.head td {
	background: #096;
	color: #FFF;
	font-weight: bold;
}
tr.head {
	background: #096;
	color: #FFF;
	font-weight: bold;
}
.address, .product {
	border-collapse: collapse;
}
.address {
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #CDDDDD;
	border-right: 1px solid #CDDDDD;
}
.address th, .address td {
	border-left: 1px solid #CDDDDD;
	border-bottom: 1px solid #CDDDDD;
	padding: 5px;
	vertical-align: text-bottom;
}
.address td {
	width: 50%;
}
.product {
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #CDDDDD;
	border-right: 1px solid #CDDDDD;
}
.product td {
	border-left: 1px solid #CDDDDD;
	border-bottom: 1px solid #CDDDDD;
	padding: 5px;
}
img {
	border: solid thin #EEE;
	padding: 5px;
	margin: 5px;
	background-color: #F5F5F5;
	float: left;
	width: 300px;
	height: auto;
}
td, th {
	text-align: left;
	vertical-align: top;
}
.merah {
	color: #F00;
}
@media print {
body {
	width: 21cm;
}
@page{
      size: 21cm 29.7cm ;
      margin: 1cm;
	  font-size: 11px;
  }
@page {
	  size: landscape;
}
	
}
