 @import 'https://fonts.googleapis.com/css?family=Lora:400,400i,700|Raleway:300,600,700,900';
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
/*Global Settings*/
body{
	font-family: 'Lora', serif;
}
.head {
	height: 50px;
	
}

#logo {
	height: 35px;
	width: 35px;
}